ansible-core==2.16.2
ansible-lint
ansible-pylibssh
anta==1.1.0  #Use for running ANTA standalone
aristaproto>=0.1.1
asgiref
certifi
cffi
chardet
click
colorama
cryptography<43.0.0
cvprac>=1.3.1
deepmerge>=1.1.0
future
idna
importlib-resources
jsonschema>=4.5.1,<4.18
Jinja2>=3.0.0
MarkupSafe
md-toc>=7.1.0
netaddr>=0.7.19
netmiko
packaging
paramiko
psutil
pre-commit
pyavd==5.1.0
pycparser
pynetbox
pyparsing
pyez
pytz
PyYAML>=6.0.0
referencing
requests>=2.27.0
six
sqlparse
treelib>=1.5.5
urllib3
zipp
