# This is the logic that can be added to DHCPD.conf file.
# Usually located at /etc/dhcp/dhcpd.conf

# dhcpd.conf
#

default-lease-time 600;
max-lease-time 7200;

{# # This is an example of when the DHCP server has a single NIC on the 172.16.4.x subnet
# Your new staging subnet is 10.1.1.0/24
# There will be a DHCP helper/relay pointing to the 172.16.4.x NIC of the server
# #}
shared-network Combined-pools {
subnet {{ baseline ['server_ip'] | ansible.utils.ipaddr('network')  }} netmask {{ baseline ['server_ip'] | ansible.utils.ipaddr('netmask')  }} {
}
subnet {{ switches.list.0.mgmt_ip | ansible.utils.nthhost(0) }} netmask {{ switches.list.0.mgmt_ip | ansible.utils.ipaddr('netmask') }}  {
 range {{ switches.list.0.mgmt_ip | ansible.utils.nthhost(121) }} {{ switches.list.0.mgmt_ip | ansible.utils.nthhost(121) }};
 option routers {{ switches.list.0.mgmt_ip | ansible.utils.nthhost(1) }};
 option domain-name-servers {{ baseline ['name_server1'] }}, {{ baseline ['name_server2'] }};
 option domain-name "{{ baseline ['domain'] }}";
}
}
{# Loop over devices.csv that are running Arista EOS #}
{% for item in switches.list if item.os=='eos' %}

{# Switch hostname #}
host {{ item.hostname }} {
hardware ethernet {{ item.mac }};
fixed-address {{ item.mgmt_ip | ansible.utils.ipaddr('address') }};
{# Server IP pulled from var in playbook #}
option bootfile-name "http://{{ baseline ['server_ip'] | ansible.utils.ipaddr('address') }}/ztp/cfg/{{ item.hostname }}.ztp";
}
{% endfor %}
