---
# L2 leaf config for {{ item.site_abbreviation }}
type: l2leaf

#############################################
#    Config logic for global & local ACLs   #
#############################################
