.PHONY: help
help: ## Display help message
	@grep -E '^[0-9a-zA-Z_-]+\.*[0-9a-zA-Z_-]+:.*?## .*$$' $(MAKEFILE_LIST) | sort | awk 'BEGIN {FS = ":.*?## "}; {printf "\033[36m%-30s\033[0m %s\n", $$1, $$2}'

.PHONY: build_all
build_all: ## Build AVD Configs
{% for item in sites.list  %}
	ansible-playbook -i {{ item.site_abbreviation }}/inventory.yml {{ item.site_abbreviation }}/playbooks/build.yml --diff
{% endfor %}
