---

# Tenant info is stored in DEMO_GLOBAL.yml unless it needs to be overriden here.
# Network Services for {{ item.site_abbreviation }}

# tenants:
# ##############################################
# #               TenantXYZ                    #
# ##############################################
